@import url('https://fonts.googleapis.com/css2?family=Funnel+Sans:ital,wght@0,300..800;1,300..800&display=swap');

/* Basic Reset */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;

    -moz-osx-font-smoothing: auto;
    font-smoothing: antialiased;
    -webkit-font-smoothing: antialiased;

    font-family: 'Funnel Sans', sans-serif;
}

html, body {
    height: 100%
}

h1, h2, h3, h4, h5, h6, p {
    margin-bottom: 16px
}

/* Button Reset from Normalize.css */
/**
 * 1. Change the font styles in all browsers.
 * 2. Remove the margin in Firefox and Safari.
 */

button,
input,
optgroup,
select,
textarea {
    font-family: inherit; /* 1 */
    font-size: 100%; /* 1 */
    line-height: 1.15; /* 1 */
    margin: 0; /* 2 */
}

/**
 * Show the overflow in IE.
 * 1. Show the overflow in Edge.
 */

button,
input { /* 1 */
    overflow: visible;
}

/**
 * Remove the inheritance of text transform in Edge, Firefox, and IE.
 * 1. Remove the inheritance of text transform in Firefox.
 */

button,
select { /* 1 */
    text-transform: none;
}

/**
 * Correct the inability to style clickable types in iOS and Safari.
 */

button,
[type="button"],
[type="reset"],
[type="submit"] {
    -webkit-appearance: button;
}

/* Global Styles */
nav {
    width: 100%;
    background-color: #333;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 10px 20px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);

    ul {
        display: flex;
        list-style: none;
        padding: 0;
        margin: 0;

        li {
            margin-right: 20px;

            a {
                display: inline-block;
                color: white;
                text-decoration: none;
                font-weight: bold;
                font-size: 20px;

                transition-property: all;
                transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
                transition-duration: 150ms;

                transform: scale(1);

                &:hover, &.active {
                    transform: scale(0.9);
                    color: #999;
                }
            }
        }
    }
}

main {
    padding: 25px;

    ul {
        list-style-position: inside;

        li {
            margin-bottom: 10px;
            background-color: #999999;
            border-radius: 5px;
            width: max-content;
            padding: 2px;

            button + span {
                margin-left: 5px;
            }
            /* Select button that comes at the end of a li after text content */
            button:last-child {
                margin-left: 5px;
            }
        }
    }

    button {
        padding: 1px 5px;
    }
}