/* Basic Reset */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;

    -moz-osx-font-smoothing: auto;
    font-smoothing: antialiased;
    -webkit-font-smoothing: antialiased;
}

html, body {
    min-height: 100vh;
}

h1, h2, h3, h4, h5, h6, p {
    margin-bottom: 16px
}

/* Button Reset from Normalize.css */
/**
 * 1. Change the font styles in all browsers.
 * 2. Remove the margin in Firefox and Safari.
 */

button,
input,
optgroup,
select,
textarea {
    font-family: inherit; /* 1 */
    font-size: 100%; /* 1 */
    line-height: 1.15; /* 1 */
    margin: 0; /* 2 */
}

/**
 * Show the overflow in IE.
 * 1. Show the overflow in Edge.
 */

button,
input { /* 1 */
    overflow: visible;
}

/**
 * Remove the inheritance of text transform in Edge, Firefox, and IE.
 * 1. Remove the inheritance of text transform in Firefox.
 */

button,
select { /* 1 */
    text-transform: none;
}

/**
 * Correct the inability to style clickable types in iOS and Safari.
 */

button,
[type="button"],
[type="reset"],
[type="submit"] {
    -webkit-appearance: button;
}

/* BACKGROUND
 * These elements are injected in styles.js
 */
#fixed-background {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    z-index: -1000;
    display: inline-block;

    #isolation-layer {
        isolation: isolate;
        position: relative;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
    }

    #noise-layer {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background: url(../assets/paper.svg);
    }

    #color-layer {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background: rgb(226, 217, 198);
        mix-blend-mode: multiply;
    }
}

